@mixin title {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.2rem;
	font-weight: bold;
	font-family: $default-font;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

@mixin defaultItemSize {
	width: 20.5rem;
	height: 20.5rem;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin clear {
	margin: 0;
	padding: 0;
	list-style: none;
}
