$default-font: "LatoBold", sans-serif;
$text-accent: #ffffff;

// Box-shadows
$dark-top: inset 0px 2px 0px 0px rgba(0,0,0,0.15);
$dark-bottom: inset 0px -2px 0px 0px rgba(0,0,0,0.15);
$dark-left: inset 2px 0px 0px 0px rgba(0,0,0,0.15);
$light-top: inset 0px 2px 0px 0px rgba(255,255,255,0.2);
$light-right: inset -2px 0px 0px 0px rgba(255,255,255,0.2);
