@font-face {
  font-weight: 700;
  font-family: "Avenir";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Avenir", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-style: normal;
}

ul {
   list-style: none; 
   margin: 0;
   padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}