/*Versions*/
$mobile-width: 320px;
$tablet-width: 600px;
$desktop-width: 750px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*Colors*/
$blue: #06B3DB;
$green: #4ED486;
$dark-blue: #6139F6;
$yellow: #E3B63D;
$crimson: #DC3D66;
$dark-crimson: #BD3559;
$purple: #BD54CD;

