/* wrapper */
.widget {
	background: url(../img/paris/Paris.png) no-repeat;
	height: 435px;
	width: 695px;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* weather info */

.weather-info {
	color: white;
	font-family: 'Lato';
	font-weight: 300;
}

.widget__weather-info {
	padding: 40px 40px 0 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
}

/* current date */

.weather-info__date {
	padding: 0 5% 12% 0
}

.date__about-weather {
	margin: 0;
}

.date__day-of-week {
	font-size: 180%;
}

.date__current-date {
	font-size: 100%;
	justify-content: flex-end;
	display: flex;
	flex-flow: column nowrap;
}

.weather__grad {
	font-size: 550%;
	font-weight: 700;
}

.weather__location {
	font-size: 150%;
}

.weather__wind span {
	font-weight: 700;
	font-size: 30px;
}

.wind__wind-icon {
	margin-right: 10px;
}

/* forecast */

.forecast {
	color: white;
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
}

.widget__forecast {
	display: flex;
	flex-flow: row nowrap;
	margin: 130px auto 0 auto;
	justify-content: center;
	padding-top: 10px;
}

.forecast__day {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	border-right: 1px solid white;
	font-family: 'Lato';
	min-width: 18%;
	align-items: center;
}

.forecast section:nth-child(6) {
	border: 0;
}

.forecast__slider {
	display: flex;
	align-items: center;
}


@media screen and (max-width:300px) {
	body {
		width: 100%;
		margin: 0;
	}

	.weather-info {
		font-size: 80%;
	}

	.forecast img {
		width: 80%;
	}

}

@media screen and (max-width: 400px){
	.forecast img {
		width: 50%
	}
}

@media screen and (max-width: 600px) {
	body {
		width: 100%;
		margin: 0;
	}

	.widget {
		width: 100%;
	}

	.weather-info {
		background-color: rgba(0,0,0,0.1);
	}

	.forecast__day {
		font-size: 70%;
	}

}

@media screen and (orientation: landscape) and (max-width: 700px){
.widget {
	max-width: 100%;
	height: 90%;
}
}