/* wrapper */
.widget {
	background: url(../img/paris/Paris.png) no-repeat;
	height: 435px;
	width: 695px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* weather info */

.weather-info {
	color: white;
	font-family: 'Lato';
	font-weight: 300;
}

.weather-info:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.weather-info__weather {
	float: left;
	position: relative;
	left: 50%;
}

.widget__weather-info {
	padding: 40px 40px 0 0;
}

/* current date */

.weather-info__date {
	padding: 20px 5% 12% 0;
	float: left;
	position: relative;
	left: 55%;
}

.date__about-weather {
	margin: 0;
}

.date__day-of-week {
	font-size: 180%;
}

.date__current-date {
	font-size: 100%;
}

.weather__grad {
	font-size: 550%;
	font-weight: 700;
}

.weather__location {
	font-size: 150%;
}

.weather__wind span {
	font-weight: 700;
	font-size: 30px;
}

.wind__wind-icon {
	margin-right: 10px;
}

/* forecast */

.forecast {
	color: white;
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
}

.forecast:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.widget__forecast {
	text-align: center;
	box-sizing: border-box;
	margin: 115px auto 0 auto;
	padding: 30px 10% 0 10%;
}

.forecast__day {
	border-right: 1px solid white;
	font-family: 'Lato';
	width: 23%;
	float: left;
	display: block;
}

.forecast__day span {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.forecast__img {
	display: block;
	margin: 0 auto;
}

.forecast section:nth-child(6) {
	border: 0;
	margin-right: 10px;
}

.forecast section:nth-child(6) img {
	margin: 5px;
}

.forecast__slider {
	float: left;
	position: relative;
	top: 30px;
}

@media screen and (max-width: 330px){

	body {
		margin: 0;
	}

	.widget {
		width: 100%;
	}

	.weather-info {
		background: rgba(0,0,0,0.1);
	}

	.weather-info__date {
		left: 20% !important;
	}

	.weather-info__weather {
		left: 13% !important;
	}
}

@media screen and (max-width: 600px){
	body {
		margin: 0;
	}
	.widget {
		width: 100%;
	}

	.weather-info {
		background: rgba(0,0,0,0.1);
	}

	.weather-info__date {
		left: 25%;
	}

	.weather-info__weather {
		left: 25%;
	}
}