/* wrapper */
.widget {
	background: url(../img/paris/Paris.png) no-repeat;
	height: 435px;
	width: 695px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* weather info */

.weather-info {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100%;
	display: -ms-grid;
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	color: white;
	font-family: 'Lato';
	font-weight: 300;
}

/*.weather-info:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	}*/

	.weather-info__weather {
		float: left;
		position: relative;
		left: 50%;
	}

	.widget__weather-info {
		padding: 40px 40px 0 0;
	}

	/* current date */

	.weather-info__date {
		padding: 20px 5% 12% 0;

	}

	.date__about-weather {
		margin: 0;
	}

	.date__day-of-week {
		font-size: 180%;
	}

	.date__current-date {
		font-size: 100%;
	}

	.weather__grad {
		font-size: 550%;
		font-weight: 700;
	}

	.weather__location {
		font-size: 150%;
	}

	.weather__wind span {
		font-weight: 700;
		font-size: 30px;
	}

	.wind__wind-icon {
		margin-right: 10px;
	}

	/* forecast */

	.forecast {
		display: grid;
		display: -ms-grid;
		grid-template-rows: 100%;
		grid-template-columns: 10% 20% 20% 20% 20% 10%;
		-ms-grid-column: 1fr 1fr 2fr 2fr 2fr 2fr 1fr;
		-ms-grid-row: 1;
		color: white;
		width: 100%;
		background-color: rgba(0,0,0, 0.2);
	}

	.forecast:after {
		content: ".";
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
	}

	.widget__forecast {
		text-align: center;
		box-sizing: border-box;
		margin: 115px auto 0 auto;
		padding: 10px 10% 0 10%;
	}

	.widget__forecast .back {
		display: -ms-grid;
		-ms-grid-column: 1;
	}

	.widget__forecast .forecast__day:nth-child(3){
		display: -ms-grid;
		-ms-grid-column: 2;
	}

	.widget__forecast .forecast__day:nth-child(4){
		display: -ms-grid;
		-ms-grid-column: 3;
	}

	.widget__forecast .forecast__day:nth-child(5){
		display: -ms-grid;
		-ms-grid-column: 4;
	}

	.widget__forecast .forecast__day:nth-child(6){
		display: -ms-grid;
		-ms-grid-column: 5;
	}


	.widget__forecast .next {
		display: -ms-grid;
		-ms-grid-column: 6;
	}

	.forecast__day {
		border-right: 1px solid white;
		font-family: 'Lato';
		padding: 0 20px;

	}

	.forecast__day span {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.forecast__img {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		width: 50%;
	}

	.forecast section:nth-child(6) {
		border: 0;
		margin-right: 10px;
	}

	.forecast section:nth-child(6) img {
		margin: 5px;
	}

	.forecast__day img {
		width: 60%;

	}
