/* wrapper */
.widget {
	background: url(../img/paris/Paris.png) no-repeat;
	height: 435px;
	width: 695px;
	display: grid;
	display: -ms-grid;
	grid-template-rows: 4fr 1fr;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* weather info */

.weather-info {
	color: white;
	font-family: 'Lato';
	font-weight: 300;
}

.widget__weather-info {
	display: grid;

	grid-template-rows: 100%;
	grid-template-columns: 70% 30%;
	margin-top: 30px;
}

/* current date */

.weather-info__date {
	justify-content: end;
	display: grid;
	grid-template-rows: 1fr 4fr;
}

.date__about-weather {
	margin: 0;
}

.date__day-of-week {
	font-size: 180%;
	padding-top: 20px;
}

.date__current-date {
	font-size: 100%;
	justify-content: flex-end;
	display: grid;
}

.weather__grad {
	font-size: 550%;
	font-weight: 700;
}

.weather__location {
	font-size: 150%;
}

.weather__wind span {
	font-weight: 700;
	font-size: 30px;
}

.wind__wind-icon {
	margin-right: 10px;
}

/* forecast */

.forecast {
	color: white;
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
}

.widget__forecast {
	/*display: flex;
	flex-flow: row nowrap;*/
	margin: 0 auto 0 auto;
	justify-content: center;
	padding-top: 10px;
}

.forecast__day {
	display: grid;
	justify-content: space-between;
	align-items: center;
	border-right: 1px solid white;
	font-family: 'Lato';
	min-width: 18%;
	align-items: center;
}

.forecast section:nth-child(6) {
	border: 0;
}

.forecast__slider {
	display: grid;
	align-items: center;
}
