* {
    margin: 0;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.shadow-container{
    width: 615px;
    height: 410px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: contain;;
    box-shadow: 0px 0px 50px 15px rgb(0, 0, 0);
}


.shadow-container .city-block{
    height: 205px;
    width: 205px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.chicago{
    background-color: #00c2e3;
}

.seattle{
    background-color: #59da99;
}

.brooklyn{
    background-color: #7557f8;
}

.portland{
    background-color: #eac24c;
}

.week{
    background-color: #e65579;
}

.san-jose{
    background-color: #cc70d8;
}

.city-block_container{
    padding: 40px 8px;
    text-align: center;
}

.city-block_container img{
    margin-bottom: 15px;
}

.week .week_block-img, .week .week_weather-info{
    text-align: center;
}

.week .week_block-img img{
    width: 63px;
    padding-top: 20px;
}

.city-block_container>img{
    width: 90px;
    height:76px;
}

.week_weather-info{
    background-color: #cc4a6c;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.week_block-img, .week_weather-info{
    height: 50%;
}


.week_weather-info>div{
    padding: 10px 5px;
    float: left;
    display: block;
    padding: 20px 12px;
}

.week_weather-info>div>p{
    margin-bottom: 5px;
}

.week_weather-info>div>img{
    width: 24px;
    height: 18px;
}


@media all and (max-width: 768px){
    .shadow-container{
        height: 615px;
        width: 70%;
        margin-bottom: 100px;
        margin-top: 100px;
        position: relative;
    }

    .shadow-container .city-block{
        width: 50%;
    }
}


@media all and (max-width: 378px){

    .shadow-container{
        width: min-content;
        height: 1230px;
    }

    .shadow-container .city-block{
        width: 205px;
    }
}