/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans', sans-serif;

  замена платному Proxima Nova:
font-family: 'Montserrat', sans-serif;
*/
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.substrate {
  position: relative;
  background-color: #4e5860;
  width: 100vw;
  height: 100vh;
}

.visually-hidden {
  display: none;
}

.weather-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 389px;
  height: 464px;
  /* margin: 0 auto; */
  box-shadow: 0 21px 20px 1px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px 10px 29px 29px;
  background-color: #f1f8f9;
}

.today-weather{
  position: relative;
  margin-bottom: 18px;
}

.refresh-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 16px;
  right: 17px;
}
.refresh-button::before{
  content: url("../images/refresh_button.png");
}

.today-weather-logo {
  display: inline-block;
  margin: 68px 120px 0px 123px;
}

.middle-ribbon {
  margin-top: 52px;
  height: 69px;
  padding-left: 22px;
}

.temp {
  position: relative;
  float: left;
  margin: 12px 14px 17px 0;
  height: 40px;
  width: 79px;
  line-height: 40px;
  color: #8d9396;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 58px;
  font-weight: 200;
  text-transform: uppercase;
}

.temp__units {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 17px;
  position: absolute;
  left: 67px;
  top: 2px;
}

.weather-location{
  float: left;
  margin-top: 5px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
}
.weather-condition {
  margin: 0;
  color: #bac2c6;
  font-size: 24px;
  font-weight: 200;
}
.user-location {
  margin: 0;
  color: #a2a9ad;
  font-size: 16px;
  font-weight: 400;
}

.date {
  float: right;
  width: 65px;
  height: 69px;
  padding-top: 15px;
  background-color: #54bae6;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.atmospheric-properties {
  height: 136px;
  padding-top: 11%;
  border-radius: 0 0 10px 10px;
  background-color: #2e3335;
}

.properties-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 45px;
  color: #ffffff;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.properties-list li {
  display: inline;
  margin-right: 35px;
}
.properties-list li::before{
  display: inline-block;
  margin-right: 18px;
  position: relative;
  top: 5px;
}
.properties-list__wind::before{
  content: url(../images/wind.png);
}
.properties-list__humidity::before{
  content: url(../images/humidity.png);
}
.properties-list__sunlight::before{
  content: url(../images/sunlight.png);
}

.scroll {
  list-style-type: none;
  padding: 0;
  width: 45px;
  margin: 25px auto 0;
  text-align: center;
}

.scroll__circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.scroll__circle_full {
  background-color: #fff;
}


@media screen and (max-width: 420px) {

  .weather-widget {
    max-width: 300px;
    height: 419px;
    vertical-align: top;
  }
  .today-weather-logo {
    margin: 50px 20px 0px 30px;
    padding: 0;
  }
  .temp {
    position: absolute;
    top: 70px;
    right: 10px;
  }
  .middle-ribbon {
    margin-top: 25px;
  }
  .properties-list {
    margin-left: 10px;
  }
  .properties-list li {
    margin-right: 15px;
  }
  .properties-list li::before{
    margin-right: 10px;
  }
  .scroll {
    margin: 35px auto 0;
  }

}
