body {
  margin: 0;
  background: url('../img/bg.png');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: .5s ease-in-out;
}

.widget {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.widget__list {
  width: 615px;
  margin: 0 auto;
  padding: 20px;

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 205px 205px 205px;
  grid-template-columns: repeat(3, 205px);

  /* text styles */
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 11.52px;
  text-transform: uppercase;
  list-style: none;
}

.widget__item {
  width: 100%;
  height: 205px;
  
  display: grid;
  align-content: center;
  text-align: center;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  
  
  box-sizing: border-box;
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.1), 
              inset 1px 1px rgba(255, 255, 255, 0.35);
  transition: .5s ease-in-out;
}

.item__center {
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}

.widget__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: #06b3db;
}
.widget__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  background-color: #4ed486;
}
.widget__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  background-color: #6139f6;
}
.widget__item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  background-color: #e3b63d;
}
.widget__item:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  background-image: linear-gradient( #dc3d66 50%, #bd3559 50%);
}
.widget__item:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  background-color: #bd54cd; 
}

.item__detailed {
  display: block;
}

.widget__top {
  width: 100%;
  height: 50%;

  display: grid;
  align-content: center;
  text-align: center;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
}

.widget__table {
  width: 100%;
  height: 50%;
  
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;

  font-size: 12px;
}

.widget__table table td {
  padding: 3px 5px;
}

@media (max-width: 800px) {
  body {
    background-image: url('../img/bg-tab.png');
  }

  .widget__list {
    grid-template-columns: repeat(2, minmax(205px, 1fr));
    -ms-grid-columns: minmax(205px, 1fr) minmax(205px, 1fr);
    width: 90%;
    min-width: 400px;
    max-width: 760px;
  }

  .widget__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .widget__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .widget__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .widget__table table td {
    padding: 3px 10px;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url('../img/bg-mobile.png');
  }
  
  .widget__list {
    min-width: 280px;
    max-width: 440px;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }

  .widget__item {
    min-height: 160px;
  }

  .widget__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .widget__item:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  .widget__table table td {
    padding: 3px 15px;
  }
}