.widget {
    min-width: 320px;
    height: auto;
    padding: 15% 0;
    text-transform: uppercase;
    background: url("../../../images/bg_cubes.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.widget__list {
    width: 208px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 28px #000000;
}

@media (min-width: $tablet-width) {
    .widget__list {
        width: 416px;
    }
}

@media (min-width: $desktop-width) {
    .widget__list {
        width: 624px;
    }
}
