@import "vars";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
  color: $text-accent;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%, cover;
  background-origin: content-box;
  font-size: 1.5rem;
	font-family: LatoLight;
	padding: 3rem;
	position: relative;
	// color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.widget {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 58.2rem;
  min-width: 45rem;
	min-height: 43.7rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	background-color: #ffffff; 
	border-radius: 10px;

	&__today {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 9.4rem 10.4rem;
		background-image: url("../img/slider-bg.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 11px;
	}

	&__weather-icon {
		margin: auto;
	}

	&__current-weather {
		@include clear;
		width: 100%;
		line-height: 9.4rem;
		text-align: center;
		background-color: rgba(46, 28, 37, 0.8);
		font-size: 2.8rem;
	}

	&__current-city {
		@include clear;
		width: 100%;
		line-height: 10.4rem;
		text-align: center;
		background-color: rgba(119, 25, 33, 0.8);
		border-bottom-left-radius: 10px;
	}

	&__forecast {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		background-color: #ffffff;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&__weekdays {
		@include clear;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	&__temperature {
		font-size: 8rem;
		text-align: center;
		border-top-right-radius: 10px;
	}

	&__graph {
		background-image: url("../img/graph.png");
		background-repeat: no-repeat;
		background-position: center;
		border-top: 1px solid #771921;
		border-bottom: 1px solid #771921;
		grid-row-start: 2;
		grid-row-end: 3;

	}

	&__weekdays {

		
		

	}
	&__day {
		display: grid;

	}
}
// ======media queries============
@import "media";
