* {
    margin: 0;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.shadow-container{
    box-shadow: 0px 0px 50px 15px rgb(0, 0, 0);
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 33.333% 33.333% 33.333%;
    -ms-grid-rows: auto auto;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: auto auto;
    max-width: 615px;
    max-height: 410px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: contain;
}


.shadow-container .city-block{
    height: 205px;
    width: 205px;
    background-size: cover;
    background-repeat: no-repeat;
}

.chicago{
    background-color: #00c2e3;
}

.seattle{
    background-color: #59da99;
}

.brooklyn{
    background-color: #7557f8;
}

.portland{
    background-color: #eac24c;
}

.week{
    background-color: #e65579;
}

.san-jose{
    background-color: #cc70d8;
}

.city-block_container{
    padding: 40px 8px;
    text-align: center;
}

.city-block_container img{
    margin-bottom: 15px;
}

.week .week_block-img, .week .week_weather-info{
    text-align: center;
}

.week .week_block-img img{
    width: 63px;
    padding-top: 20px;
}

.city-block_container>img{
    width: 90px;
    height:76px;
}

.week_weather-info{
    background-color: #cc4a6c;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;

    font-size: 12px;
    justify-content: center;
    align-items: center;

    grid-template-columns: 25% 25% 25% 25%;

    grid-template-rows: auto auto;
}

.week_block-img, .week_weather-info{
    height: 50%;
}


.week_weather-info>div{
    padding: 10px 5px;
}

.week_weather-info>div>p{
    margin-bottom: 5px;
}

.week_weather-info>div>img{
    width: 24px;
    height: 18px;
}


@media all and (max-width: 768px){
    .shadow-container{
        height: auto;
        width: min-content;
        margin-bottom: 100px;
        margin-top: 100px;
        position: relative;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
}


@media all and (max-width: 500px){
    .shadow-container{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
    }
}