* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%, cover;
          background-size: 100% 100%, cover;
  -webkit-background-origin: content-box;
          background-origin: content-box;
}

.widget {
  margin: 0;
  font-size: 16px;
  line-height: 12px;
  font-weight: bold;
  font-family: "LatoBold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 615px;
  margin: 0 auto;
}

.widget:after {
  content: "";
  display: table;
  clear: both;
}

.widget__item {
  width: 205px;
  height: 205px;
  float: left;
  background-color: #00c0e2;
  position: relative;
  padding-top: 137px;
}

.widget__icon {
  position: absolute;
  left: 58px;
  top: 46px;
  width: 90px;
  height: 76px;
  -webkit-filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.1));
}

.widget__item--chicago {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}

.widget__item--seattle {
  background-color: #5bd998;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.widget__item--brooklyn {
  background-color: #7558f8;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.widget__item--portland {
  background-color: #e9c14d;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}

.widget-item-wrapper {
  height: 51.5%;
}

.widget__icon--hometown {
  width: 65px;
  height: 65px;
  top: 25px;
  left: 67px;
}

.widget__item--hometown {
  background-color: #e55679;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
  padding-top: 0px;
}

.widget__item--san-jose {
  background-color: #cb70d6;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.widget__item > p,
.widget__item > h2 {
  font-size: inherit;
  display: inline-block;
}

.widget__hometown-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0px 15px 20px 15px;
  float: left;
  background-color: #b93457;
  width: 100%;
  height: 48.5%;
  -webkit-box-shadow: inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px 0px 0px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15), inset 2px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.widget__hometown-item {
  position: relative;
  float: left;
  width: 25%;
  font-size: 12px;
  padding-top: 9px;
  padding-left: 10px;
  text-align: center;
}

.widget__hometown-item:last-child {
  padding-left: 5px;
}

.widget__icon--hometown-small {
  position: absolute;
  left: 12px;
  top: 40px;
  width: 22px;
  height: 22px;
}

.widget__icon--hometown-small:first-child {
  left: 40px;
  width: 22px;
}

.widget__day {
  margin-bottom: 42px;
}
