body {
  margin: 0;
  background: url('../img/bg.png');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.widget {
  width: 100%;
  height: auto;
  margin: 0;

  display: flex;
  justify-content:center;
  align-items: center;
}

.widget__list {
  width: 70%;
  min-width: 615px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  /* text styles */
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 11.52px;
  text-transform: uppercase;
  list-style: none;
}

.widget__item {
  width: 33.33%;
  min-height: 205px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  box-sizing: border-box;
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.1), 
              inset 1px 1px rgba(255, 255, 255, 0.35);
}

.widget__item_cyan {
  background-color: #06b3db;
}

.widget__item_green {
  background-color: #4ed486;
}

.widget__item_blue {
  background-color: #6139f6;
}

.widget__item_gold {
  background-color: #e3b63d;
}

.widget__item_red {
  background-image: linear-gradient( #dc3d66 50%, #bd3559 50%);
}

.widget__item_violet {
  background-color: #bd54cd; 
}

.widget__item_detailed {
  justify-content: flex-start;
}

.widget__top {
  width: 100%;
  height: 50%;
  min-height: 102px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.widget__table {
  height: 103px;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  body {
    background-image: url('../img/bg-tab.png');
  }

  .widget__list {
    width: 100%;
    min-width: 440px;
    max-width: 760px;
  }

  .widget__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url('../img/bg-mobile.png');
  }

  .widget {
    min-width: 320px;
  }
  
  .widget__list {
    width: 90%;
    min-width: 280px;
    max-width: 440px;
    max-width: auto;
    padding: 20px 0;
    margin: 0 auto;
  }

  .widget__item {
    width: 100%;
    min-height: 160px;
  }
}