body {
  margin: 0;
}

.wheather {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: #727b46;
  background-image: url("../img/bg-mobile.jpg");
  background-size: cover;
  background-position: top left;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.wheather__list {
  margin: 0 auto;
  padding: 20px 0;

  width: 90%;

  list-style: none;
}

.wheather__item {
  position: relative;
  width: 100%;
  min-height: 160px;
  box-sizing: border-box;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 0 rgba(255, 255, 255, 0.3), inset -2px 0 0 rgba(0, 0, 0, 0.1) ;
}

.wheather__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%)
}

.wheather__item_blue {
  background-color: #06b3db;
}

.wheather__item_green {
  background-color: #4ed486;
}

.wheather__item_violet {
  background-color: #6139f6;
}

.wheather__item_orange {
  background-color: #e3b63d;
}

.wheather__item_pink {
  background-image: linear-gradient( #dc3d66 50%, #bd3559 50%);
}

.wheather__item_purple {
  background-color: #bd54cd;
}

.wheather__text {
  margin: 0;
}

.wheather__icon {
  margin-bottom: 25px;
}

.wheather__item_info {
  height: 205px;
  font-size: 12px;
}

.wheather__item_info .wheather__icon {
  margin-bottom: 0;
}

.wheather__top {
  width: 100%;
  height: 50%;
  line-height: 105px;
}

.wheather__top .wheather__icon {
  vertical-align: middle;
}

.wheather__table {
  height: 50%;
  width: 100%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: inset 0 0 35px rgba(39, 36, 37, 0.22);
}

.table td {
  padding: 0
}

.table__head td {
  padding-bottom: 9px;
}

@media (min-width: 481px) {
  .wheather {
    background-image: url("../img/bg-tab.jpg");
    background-repeat: no-repeat;
  }

  .wheather__list {
    margin: 0 auto;
  }

  .wheather__clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .wheather__item {
    width: 50%;
    height: 205px;
    float: left;
  }
}

@media (min-width: 800px) {
  .wheather {
    width: 800px;
    margin: 0 auto;
    background-image: url("../img/bg.jpg");
    background-size: auto;
    background-position: center;
  }
  
  .wheather__list {
    width: 615px;
    padding: 95px 0;
  }
  
  .wheather__item {
    width: 33.33%;
  }
  
  .wheather__item:first-child {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(255, 255, 255, 0.3);
  }
  
  .wheather__item:nth-child(2) {
    box-shadow: inset 2px -2px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(255, 255, 255, 0.3) ;
  }
  
  .wheather__item:nth-child(3) {
    box-shadow: inset 2px -2px 0 rgba(0, 0, 0, 0.1);
  }
  
  .wheather__item:nth-child(4) {
    box-shadow: inset -1px 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .wheather__item:nth-child(5) {
    box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.1), inset -1px 1px 0 rgba(255, 255, 255, 0.3);
  }
  
  .wheather__item:nth-child(6) {
    box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  }
}
