@font-face {
    font-family: AvenirNext;
    src: url(../font/AvenirNext-Bold.ttf);
}


body{
    /*background*/
    background: url("../img/main-bg.jpg") center no-repeat;
    background-size: cover;

    /*font*/
    color: white;
    font-family: AvenirNext;
    font-weight: bold;
    display: flex;
    align-items: center;


}

.main{
    width: 615px;
    height: auto;
    margin: 100px auto;
}

.weather-widget{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    display: block;
    width: 615px;
    height:410px;

}

.main-block{
    display: inline-block;
    box-sizing: border-box;
    width: 205px;
    height: 205px;
    margin: 0;
    font-size:0;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}

.city-temperature{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: white;
}

.image-weather{

    width: 90px;
    height: 88px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}

.days-table{
    font-size: 12px;
    color: white;
    height: 50%;
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: #b83457;
    margin-bottom: 0;
    margin-top: auto;
}



.chicago {
    background-color: #06b3db;
    float: left;
}

.seattle{
    background-color: #4ed486;
}

.brooklyn{
    background-color: #6139f6;
    float: right;
}

.portland{
    background-color: #e3b63d;
    float: left;
}

.days{
    background-color: #dc3d66;

}

.san-jose{
    float: right;
    background-color: #bd54cd;
}

.days .image-weather{
    margin: 20px auto;
    width: 63px;
    height: 63px;
}

@media only screen
and (max-width: 767px){
    .main{
        margin: 75px auto;
        width: 205px;
        height: auto;
    }
    .weather-widget{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
        display: block;
        width: 205px;
        height: 1230px;
        min-height: auto;
    }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px){
    .main{
        width: 205px;
        height: auto;
    }
    .weather-widget {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
        display: block;
        width: 205px;
        height: 1230px;
        min-height: auto;
    }

}



