@import "vars";

@media screen and (max-width: 600px) {
  :root {
    font-size: 8px;
  }

  .widget__current-params {
    width: 40%;
	}
}

@media screen and (max-width: 420px) {
  .widget__item img {
    width: 50%;
    height: 50%;
  }

  .widget {
    min-width: 280px;
    min-height: 290px;
  }

  .widget__current-date {
    width: 25%;
  }

  .widget__degree {
    font-size: 7rem;
  }

  .widget__current-params {
    width: 50%;
  }

  .widget__wind {
    font-size: 1.8rem;
    line-height: 1.9rem;
    margin: 0rem 1rem 5.4rem 5.8rem;
  }

  .widget__item {
    width: 20%;
  }

  .widget__item::after {
    height: 6rem;
  }

  .widget__item h2 {
    font-size: 1rem;
  }
}
